PORT=5000
EVALUATION_BASE_URL=http://4.224.186.213/evaluation-service
AUTH_EMAIL=your_email@example.com
AUTH_NAME=your name
AUTH_ROLLNO=your_roll_number
AUTH_ACCESSCODE=your_access_code
AUTH_CLIENTID=your_client_id
AUTH_CLIENTSECRET=your_client_secret
